<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>

 <div class="navbar navbar-inverse set-radius-zero" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/san-pham">

                    <img src="images/logo.png" />
                </a>

            </div>

            <div class="right-div">
                <a href="#" class="btn btn-info pull-right">LOG ME OUT</a>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  
                </div>

            </div>
        </div>
    </section>
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">BẢNG DANH MỤC</h4>
                
                            </div>

        </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/san-pham/danh-muc/them-moi"> Thêm danh mục</a>    
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                           
                                            <th>Category_name</th>
                                            <th>Note</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                           {{#each categorys}}
                                        <tr class="odd gradeX">
                                            <td>{{this.name}}</td>
                                            <td>{{this.description}}</td>
                                            <td> <button onclick="edit('{{this._id}}')" class="btn btn-link" 
                                                style="width: 70px; height: 45px; background: aqua; 
                                                border-radius: 5px; color: white; text-decoration-line: none; margin-left: 12%;">Edit</button>
                                          
                                            
                                            
                                             <button onclick="onClickDelete('{{this._id}}');" data-toggle="modal"
                                                style="width: 70px; height: 45px; background: aqua; 
                                                border-radius: 5px; color: white; text-decoration-line: none; margin-left: 12%; margin-top: 5px;"
                                                data-target="#myModal" class="btn btn-link">Delete</button>
                                            
                                            
                                            
                                            </td>>
                                        </tr>
                                        {{/each}}
                                   
                  
                               
                                      
                                     
                                
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
    
    </div>
    </div>

<!--  Modals-->
<div>
    <div >
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Xóa sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xóa sản phẩm này không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="onDelete()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals-->

     <!-- CONTENT-WRAPPER SECTION END-->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   &copy; 2014 Yourdomain.com |<a href="http://www.binarytheme.com/" target="_blank"  > Designed by : binarytheme.com</a> 
                </div>

            </div>
        </div>
    </section>
      <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="js/bootstrap.js"></script>
    <!-- DATATABLE SCRIPTS  -->
    <script src="js/dataTables/jquery.dataTables.js"></script>
    <script src="js/dataTables/dataTables.bootstrap.js"></script>
      <!-- CUSTOM SCRIPTS  -->
    <script src="js/custom.js"></script>

     <script>
  const edit = (id) =>{
    // http://localhost:3000/san-pham/:id/edit
    window.location.href=`http://localhost:3000/san-pham/danh-muc/${id}/edit`
  }
  
  let deleted_id;

    const onClickDelete = (id) => {
        deleted_id = id;
    }

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }

    const onDelete = async () => {
        const url = `http://localhost:3000/san-pham/danh-muc/${deleted_id}/delete`;
        const option = {
            method: 'delete',
            headers: { 'Content-Type': 'application/json' }
        }
        try {
            await fetchAPI(url, option);
            window.location.href = '/san-pham/danh-muc';
        } catch (e) { console.log('Delete error: ', e) }
    }

</script>